body {
  background: #eee;
  font-family: sans-serif;
}

.title,
.content,
.button-container{
  margin: 8px;
  padding: 8px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding-top: 8px;
  padding-bottom: 8px; /* add this line to add padding at the bottom */
}

.title {
  background: #e3f4ff;
  margin-top: 0;
}

.content {
  background: #e3f4ff;
}

.button-container {
  background: #e3f4ff;
  margin-bottom: 0;
}

button {
  background: white;
  border: 1px solid #eee;
  display:block;
  width: 120px;
  margin: 0 auto;
  padding: 8px;
}


button,
.button-container {
  text-align: center;
}

